.header {
  padding-inline: 10%;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 999;
}

.logo {
  width: 200px;
  height: 100%;
  background-color: #e0b973;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  letter-spacing: 1.5px;
}

.logo p {
  letter-spacing: 1px;
  font-size: 0.825rem;
}

.nav ul {
  display: flex;
  column-gap: 90px;
}

.nav ul li a {
  color: white;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-size: 1rem;
}

.nav ul li a:hover {
  text-decoration: underline;
}
