<div class="banner">
  <app-header></app-header>
  <div class="banner-background"></div>
  <div class="banner_text">
    <h3>WELCOME TO</h3>
    <h1>LUXUTRY</h1>
    <h2>HOTELS</h2>
    <p>Book your stay and enjoy Luxury</p>
    <p>redefined at the most affordable rates.</p>
  </div>
</div>
<div *ngIf="room">
  <div class="room_details">
    <img src="../../../assets/images/rooms/room1.jpg" alt="Room image" />

    <div class="room_details_right">
      <h3>{{ room.name | uppercase }}</h3>
      <div class="room_bed">
        <div>
          <i class="fa-solid fa-person"></i>
          <p>{{ room.maxAdult }} Max Adult</p>
        </div>
        <div>
          <i class="fa-solid fa-person"></i>
          <p>{{ room.maxChildren }} Max Children</p>
        </div>
        <div>
          <i class="fa-solid fa-person"></i>
          <p>{{ room.maxPeople }} Max People</p>
        </div>
      </div>

      <div class="room_footer">
        <p *ngIf="!showFullDetails">
          {{ room.description | slice : 0 : 100 }}...
        </p>
        <p *ngIf="showFullDetails">{{ room.description }}</p>
        <button (click)="toggleDetails()">
          {{ showFullDetails ? "Show Less" : "Show More" }}
        </button>
      </div>
    </div>
  </div>
</div>
