.footer {
  margin-top: 110px;
  height: 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-inline: 10%;
  background-color: #14274a;
}

.footer ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
